.trailer-div{
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(22, 19, 23, 0.9);
}

.video-player{
  max-width: 65vw;
  max-height: 60vh;
  border-radius: 5px;
}

.loading-text{
  /* background-color: rgba(22, 19, 23, 0.9); */
  margin-left: 5%;
  color: white;
}