.list{
  display: flex;
  flex-wrap: nowrap;
}

.button-left{
  opacity: 0;
  position: relative; 
  top: 200px;
  z-index: 2;
  border-radius: 15px;
  background-color: white;
}

.button-right{
  opacity: 0;
  position: relative; 
  bottom: 200px;
  z-index: 2;
  border-radius: 15px;
  background-color: white;
}

.slider-div:hover > i, .slider-div:active > i, .button-left:hover, .button-right:hover {
  opacity: 1;
}

.button-left:hover, .button-right:hover {
  cursor: pointer;
}
