.banner{
  min-height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.title{
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 5px;
}

.infos-text-movie{
  margin: 20px 5%;
  padding: 20px;
  box-shadow: 1px 1px 1px 1px;
}

.short-info{
  display: inline-block;
  margin-right: 5px;
}

.short-info-collection{
  font-size: small;
}

.bold{
  font-weight: bold;
}

.button-trailer {
	background-color:white;
	border-radius:5px;
	border:1px solid #566963;
  display:inline-block;
  cursor: pointer;
	font-size:15px;
	font-weight:bold;
	padding:10px 10px;
}

.button-trailer:hover, .button-trailer:active  {
	background:black;
}

.text-button-trailer{
  text-decoration: none;
  color:black;
}

.button-trailer:hover > .text-button-trailer{
  color: white;
}