.banner{
  min-height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.title{
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 5px;
}

.infos-text-movie{
  margin: 20px 5%;
  padding: 20px;
  box-shadow: 1px 1px 1px 1px;
}

.short-info{
  display: inline-block;
  margin-right: 5px;
}

.short-info-collection{
  font-size: small;
}

.bold{
  font-weight: bold;
}
