/* if changing properties of box, change slider onClick functions values too*/
.box{
  width: 250px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  padding: 10px;
}

.img{
  width: 250px;
}

.box:hover{
  box-shadow: 13px 9px 8px 2px rgba(0,0,0,0.12), 3px 3px 2px rgba(0,0,0,0.24);
}

